<!— added version control. —>

<!doctype html>
<html>
  <head>  
    <title>Upload  — THSIMGV - v{{ version }}</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  </head>
  <body>
          <h1>Sticker Image Validator v{{ version }}</h1>
    <h1>Upload new File</h1>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
    </body>
</html>
