<!doctype html>
{% extends 'layout.html' %}

{% block content %}
          <title>Result - THSIMGV - v{{ version }}</title>  
      </head>
      <body>
          <h1>Sticker Image Validator v{{ version }}</h1>
<div>
          <img src="/uploads/{{ filename }}">
          
{% if sticksize > 6 %}
	<h2> This image is {{ bigstickmulti }}x bigger than the 6 in price.</h2>
{% else %}
	<h2>The maximum size for this sticker falls under the {{ sticksize }}
            square inch (or less) price bracket.</h2>
{% endif %}

          <h2>The this image is {{ inwidth }}" wide x {{ inheight }}" tall.</h2>
	  <h3>Image Area: {{ area }} sqin</h3>
          <h3>Image Height: {{ height }} px</h3>
          <h3>Image width: {{ width }} px</h3>
</div>
<div>
<form action=/delete/{{ filename }}>
    <input type="submit" value=Upload>
</form>

</div>
{% endblock %}